<ion-header>
</ion-header>

<ion-content>
    <ion-slides pager="true" *ngIf="promos" style="margin-top: 19px;">

        <ion-slide>
          <ion-img src="../../assets/imgs/1carol.png"></ion-img>
        </ion-slide>
    
        <ion-slide>
          <ion-img src="../../assets/imgs/2carol.png"></ion-img>
        </ion-slide>
    
        <ion-slide>
          <ion-img src="../../assets/imgs/3carol.png"></ion-img>
        </ion-slide>
      </ion-slides>

    <ion-searchbar style="border-radius: 50%;">
  </ion-searchbar>


  
  <app-loading *ngIf="!promos"></app-loading>

  <div id="images" padding>
    <div class="image" *ngFor="let promo of promos">
      <ion-card button [routerLink]="['/tabs/post', promo.id]" >
        <ion-img [src]="promo.image"></ion-img>
        <ion-card-content>
          <p>{{ promo.title }}</p>
          <!-- <p>{{ promo.image }}</p> -->
        </ion-card-content>
      </ion-card>
    </div>
  </div>

</ion-content>
