<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Post</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

  <app-loading *ngIf="!promo"></app-loading>

  <ion-card >
    <ion-img [src]="promo.image"></ion-img>
    <ion-card-content>
      <p>{{promo.title}}</p>
    </ion-card-content>
  </ion-card>

  <ion-button expand="full" (click)="shareTwitter()">Share with Twitter</ion-button>
  <ion-button expand="full" (click)="shareFacebook()">Share with Facebook</ion-button>
  <ion-button expand="full" (click)="shareWhatsapp()">Share with Whatsapp</ion-button>

</ion-content>
