<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

	<!-- <app-loading *ngIf="busy"></app-loading> -->

	<div class="center" *ngIf="!busy" >
		<div class="profcvr"></div>
		<ion-grid>
			<div id="profile-info" *ngIf="username">
				<ion-grid>
					<ion-row>
						<!-- <ion-img src=""></ion-img> -->
						<ion-col size="12" class="userimage">
							<img [src]= croppedImagepath  class="profimg"/> 
							<ion-icon name="camera" class="editIcon"(click)="openImagePickerCrop()"></ion-icon>
							<span class="profname">{{ username }}</span>
						</ion-col>
					</ion-row>
				</ion-grid>
			</div>
		</ion-grid>
		<ion-grid>
			<div class="itemlist ion-activatable">	
				<ion-list *ngFor="let about of aboutArray; let i = index">
					<ion-item (click)="editAbout(about, i)">
						<ion-ripple-effect></ion-ripple-effect>
						<ion-label class="ion-text-wrap">
							<p id="editAbout">About</p>	
							<p id="about"> {{about}}
							</p>
						</ion-label>
					</ion-item>
				</ion-list>
			</div>
		</ion-grid>	
		<ion-grid>
			<ion-row class="btnbot">
				<ion-col size="12">
					<!-- <ion-button expand="block" color="primary" style="text-transform: none;" routerLink="/edit-profile">Edit Profile</ion-button> -->
					<ion-button expand="block" color="danger" style="text-transform: none;" (click)="logout()">Log Out</ion-button>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>
	
	<script>
		UPLOADCARE_LOCALE = "en";
        UPLOADCARE_LIVE = "false";
        UPLOADCARE_PUBLIC_KEY = "bb32f8bcf74a6c19b8fd";
	</script>
<script src="https://ucarecdn.com/libs/widget/3.x/uploadcare.full.min.js" charset="utf-8"></script>
</ion-content>